/*Todo: style the game as good and as smooth as possible, and try to use as much reusable code as possible, as well as variables */

/*? -------- Imports -------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@100;300&family=Ysabeau+Office:wght@100;300&display=swap");

/*? -------- Resets -------- */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*? -------- Variables -------- */
:root {
  /*? -------- Fonts -------- */

  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-ysabeau: "Ysabeau Office", sans-serif;

  /*? -------- Colors -------- */

  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --textBackground: hsla(0, 0%, 43%, 0.678);
  --secondBck: hsla(199, 83%, 56%, 0.678);
  --mainBck: hsla(249, 94%, 65%, 0.568);
}

/*? -------- Body -------- */
body {
  background-color: var(--mainBck);
}
/*? -------- Main section -------- */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: var(--font-montserrat);
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem;
}
.subtitle {
  font-family: var(--font-roboto);
  font-size: 1.2rem;
  margin: 2rem;
  border-bottom: 1px solid var(--black);
}
/*? -------- Selection -------- */

.selection {
  display: flex;
  justify-content: space-between;
  width: 25rem;
}

.rock,
.paper,
.scissors {
  cursor: pointer;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  scale: 0.9;
}

/*? -------- Score & round winner -------- */

.coSelection,
.userSelection,
.roundWinner,
.roundWinner,
.winner,
.winnerText {
  font-family: var(--font-ysabeau);
  font-size: 1.2rem;
  margin-top: 1rem;
}
.coSelection {
  margin-top: 2rem;
}
.winner,
.winnerText {
  padding: 0.35rem;
  border-radius: 1rem;
  background-color: var(--textBackground);
  color: var(--white);
}

/*? -------- Score & Overall winner -------- */

.userSelectionWrapper {
  display: flex;
  width: 10rem;
  margin-top: 1rem;
  justify-content: space-between;
}
.userScore,
.coScore {
  font-family: var(--font-ysabeau);
  font-size: 1.2rem;
}

.winnerWrapper {
  display: flex;
  flex-direction: column;
  width: 10rem;
  align-items: center;
}

/* ? Transform the text from right to left  */
/* .coScore {
  transform: matrix(-1, 0, 0, 1, 0, 0);
} */

/*? -------- Restart game -------- */

.btn {
  position: absolute;
  bottom: 10%;
  border: none;
  cursor: pointer;
  background-color: var(--secondBck);
  font: var(--font-ysabeau);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 1rem;
}
.btn:hover {
  scale: 1.1;
  transform: translateY(-10%);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
