/*Todo: style the game as good and as smooth as possible, and try to use as much reusable code as possible, as well as variables */

/*? -------- Imports -------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@100;300&family=Ysabeau+Office:wght@100;300&display=swap");

/*? -------- Resets -------- */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*? -------- Variables -------- */
:root {
  /*? -------- Fonts -------- */

  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-ysabeau: "Ysabeau Office", sans-serif;

  /*? -------- Colors -------- */

  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --textBackground: hsla(0, 0%, 43%, 0.678);
  --secondBck: hsla(199, 83%, 56%, 0.678);
  --mainBck: hsla(249, 94%, 65%, 0.568);

  /*? -------- Text Shadow -------- */

  --shadow: 5px 5px 5px;
}

/*? -------- Body -------- */
body {
  height: 100vh;
  width: 100vw;
  background-image: url("/imgs/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/*? -------- Main section -------- */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: var(--font-montserrat);
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem;
}
.subtitle {
  font-family: var(--font-roboto);
  font-size: 1.2rem;
  margin: 2rem;
  border-bottom: 1px solid var(--black);
}

/*? -------- SVG's -------- */

.rockSVG,
.paperSVG,
.scissorsSVG {
  width: 100px;
  height: 100px;
  /*? In order for text shadow to workk on svg's, we gotta user the filter property   */
  text-shadow: var(--shadow) var(--white);
  filter: drop-shadow(var(--shadow) var(--white));
}

/*? -------- Selection -------- */

.selection {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

.rock,
.paper,
.scissors {
  cursor: pointer;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  scale: 0.9;
}

/*? -------- Score & round winner -------- */

.coSelection,
.userSelection,
.roundWinner,
.roundWinner,
.winner,
.winnerText {
  font-family: var(--font-ysabeau);
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
}
.userSelection {
  margin-top: 2rem;
}
.winner,
.winnerText {
  padding: 0.4rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: var(--textBackground);
  color: var(--white);
  z-index: 10;
}

/*? -------- Score & Overall winner -------- */

.userSelectionWrapper {
  display: flex;
  width: 15rem;
  margin-top: 1rem;
  justify-content: space-between;
}
.userScore,
.coScore {
  font-family: var(--font-ysabeau);
  font-size: 1.2rem;
}

.winnerWrapper {
  display: flex;
  flex-direction: column;
  width: 10rem;
  align-items: center;
}

/* ? Transform the text from right to left  */
/* .coScore {
  transform: matrix(-1, 0, 0, 1, 0, 0);
} */

/*? -------- Restart game -------- */

.overallWinner {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  border-radius: 2rem;
  background-color: hsla(225, 2%, 45%, 0.534);
  border: none;
  z-index: 9;
}
.overallWinner.hidden {
  display: none;
}
.btn {
  position: absolute;
  bottom: 20%;
  left: 45.5%;
  cursor: pointer;
  background-color: var(--white);
  font: var(--font-ysabeau);
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 1rem;
}
.btn:hover {
  scale: 1.1;
  transform: translateY(-10%);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*? -------- Screen breakpoint -------- */

@media (max-width: 38rem) {
  .rockSVG,
  .paperSVG,
  .scissorsSVG {
    width: 75px;
  }
  .selection {
    width: 20rem;
  }
  .btn {
    left: 26%;
    bottom: 2%;
  }
  .subtitle {
    margin: 1rem;
  }
  .title {
    margin-bottom: 0;
  }
  .winner {
    position: absolute;
    top: 23%;
    left: 7%;
    background-color: var(--secondBck);
    rotate: -10deg;
    font-size: 2.5rem;
  }
  .winnerText {
    position: absolute;
    bottom: 25%;
    left: 30%;
    background-color: var(--secondBck);
    rotate: 10deg;
    font-size: 2.5rem;
  }
}
